/*
Theme Name:     Starkers
Theme URI:      http://viewportindustries.com/products/starkers
Description:    The totally nude Wordpress theme!
Version:        4.0
Author:         Elliot Jay Stocks & Keir Whitaker
Author URI:     http://viewportindustries.com
Tags:           starkers, naked, clean, basic
*/

/*
===========================
CONTENTS:

01 Sensible defaults
02 Typography
03 Media queries
===========================
*/

/* ----------------------------------------------------------------------------------------------------------
01 Sensible defaults ----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */



div,
article,
section,
header,
footer,
nav,
li                  { position:relative; /* For absolutely positioning elements within containers (add more to the list if need be) */ }
.group:after        { display:block; height:0; clear:both; content:"."; visibility:hidden; /* For clearing */ }
body                { background:#fff; /* Don't forget to style your body to avoid user overrides */ }
::-moz-selection    { background:#ff0; color:#333; }
::selection         { background:#ff0; color:#333; }

/* ----------------------------------------------------------------------------------------------------------
02 Typography -----------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
/*

14 / 16 =       0.875em         (14px equivalent)
16 / 16 =       1em             (16px equivalent)
18 / 16 =       1.125em         (18px equivalent)
21 / 16 =       1.3125em        (21px equivalent)
24 / 16 =       1.5em           (24px equivalent)
30 / 16 =       1.875em         (30px equivalent)

*/

body,
input,
textarea,            
h1,
h2,
h3,
h4,
h5,
h6 { 
	font-family: helvetica, arial, sans-serif;
	font-weight:normal;  
	color:$blacker;
	a {
		color:$blacker;
	}
}

a {color:$accent;}
/* ----------------------------------------------------------------------------------------------------------
03 Media queries (using a mobile-first approach) ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.alignleft{
	float:left;
	margin:1em 1em 1em 0;
}

.alignright{
	float:right;
	margin:1em 0 1em 1em;
}

.alignnone {
	margin:0 0 1em 0 ;
}