@import "susy";

#wrapper {
    @include container;
    //@include susy-grid-background;
    header {border-bottom:34px solid $accent;}

    .rightside {
        @include span-columns(2 omega);
        img {width:100%;
            height:auto;
            margin-bottom:1em;}
    }
    form {
        @include span-columns(4);
        margin-right:0;
        form p{width:100%;}
    }

    @include at-breakpoint($large){
        @include container;
        //@include susy-grid-background;
        header {@include span-columns(10);}
        .logotype {@include span-columns(4);}
        h2.tagline{
            @include span-columns(3 omega);
            margin-bottom:0;
            margin-top:55px;
            text-align:right;
        }
         #primary-nav{
            margin-top:14px;
            @include span-columns(2.6,10);
        }
        #main-content{
            margin-top:21px;
            @include span-columns(7 omega,10);
        }
        form {
        @include span-columns(4,7);
        margin-right:0
    }
        .rightside{
            @include span-columns(3 omega,7);
            margin-left:1.25em;
                    }
    }
}

#bottom{
        padding-top:14px;
        margin-top:14px;
        border-top: 2px solid #888888;
        clear:both;
}

input, textarea{max-width:100%;}
    

footer {    
          
    @include at-breakpoint($large){
        @include container;
        //@include susy-grid-background;
        p{
            @include span-columns(3,10);
            @include post(7);
        }
    }
}