body {
	border-top:7px solid $accent;
}

img{max-width:100%;}

#primary-nav{
	li{
		margin:8px 0;
		a{
			&:hover{background: $accent;color: $white;}
			padding:8px;
			display: block;
			@include border-radius(6px);
			font-weight: bold;
		}
		&.current_page_item a {background: $accent;color: $white;}
	}

}

/*******FORM****/
    article .wpcf7{
         	font-weight:700;
         input, textarea{
         	padding:5px 0;
         	border:1px solid darken($accent, 30%);
         	&:focus {
         	border:1px solid $accent;	
         	}    	
         }
         input[type="submit"]{
         	width:283px;
			@include background(linear-gradient($white, darken($white,5%) ));
			&:hover{
				@include background(linear-gradient($white, darken($white,20%) ));
				@include box-shadow(#666 0 0 3px);
			}
         }
         span.wpcf7-not-valid-tip {width:221px;}
         div.wpcf7-validation-errors{background:transparentize(#fC0,0.6);
         	width:256px;
         	margin: 0;
         }
    }