h1{
	color: $blacker;
    @include adjust-font-size-to(21px);
    font-weight: bold;
    text-transform: uppercase;
    @include trailer(0.5);
    header &{
    	margin:0;
    }
}
h2{
	color: $blacker;
    @include adjust-font-size-to(16px);
    font-weight: bold;
    text-transform: uppercase;
    @include trailer();
}
h3{
	color: $blacker;
    @include adjust-font-size-to(12px);
    font-weight: bold;
    text-transform: uppercase;
}

.tagline{
	@include adjust-font-size-to(10px);
}

#main-content a:link{color:$accent;}
#main-content{
	article{
		ol, ul{
			h2, h3{margin-bottom:0;}
			li {list-style-position: inside;}
		}
		ol {
			@include trailer(0.5);
			&>li {
				list-style-type: decimal;
				&>ol{
					&>li{list-style-type: lower-alpha;
						margin-left:15px
					}
				}
			}
		}
		ul {
			@include trailer(0.5);
			margin-left:15px;
			li {list-style-type: disc;}
		}
	}
}
p {
    @include trailer();
}

footer p{
        @include adjust-font-size-to(10px);
}