/***********variables***********/

$blacker : #333;
$black : #666;
$white: #fff;
$accent : #ee701a;

$base-font-size:12px;
$base-line-height:18px;
@include establish-baseline;


$baseline : $base-line-height;
$baseheadingfont : inherit;
$baseheadingfontweight : bold;
$baseheadingfontcolor : inherit;

// 6. LAYOUT           ==============================

$total-columns         : 6;
$column-width          : 5em;
$gutter-width          : 1.25em;
$gutterwidth           : 1.25em;
$container-style       : magic;
$large                 : 10 lt-ie9;